<html>

<head>
  <!-- style sheets -->
  <link rel="stylesheet" href="/css/header.css">
  <link rel="stylesheet" href="/css/sign_in.css">
  <link rel="stylesheet" href="/css/sign_up.css">
</head>

<body>
  <%- include('_header') %>
  <%- body -%>
  <!-- <%- include('_footer')%> -->

  <!-- script elements -->
</body>

</html>